 /* body {
    background: #A1FFCE; 
  background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  
  background: linear-gradient(to right, #FAFFD1, #A1FFCE);
  
  }  */

  #admin{
    margin: 0;
    height: 100%;
    min-height: 100vh;
    background-image: url(../src/images/espacio2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

  }
  #admin::before{
    content: "";
    width:100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    background:linear-gradient(90deg, #212121,#263238);
    opacity: 0.3;
    z-index: -1;
  }

  /* #user{
    margin: 0;
    min-height: 89vh;
    background-image: url(../src/images/espacio3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  } */

  /* #public{
    margin: 0;
    min-height: 100vh;
    background-image: url(../src/images/espacio5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  } */
  
  /* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  } */
  